on init
    # Change permissions for /dev/diag
    chmod 0666 /dev/diag

on early-boot
     chown system system /dev/input/event3  # stk3xXx-light
     chown system system /dev/input/event4  # stk3xXx-proximity

on boot
    # Tap to wake node
    chown system system /proc/tpd_gesture
    chmod 0660 /proc/tpd_gesture
    # Reset Leds (on boot)
    write /sys/class/leds/green/brightness 1
    write /sys/class/leds/green/brightness 0
    write /sys/class/leds/red/brightness 1
    write /sys/class/leds/red/brightness 0

service nvram_btwifi /system/bin/nvram_btwifi
    user root
    group system oem_2901
    oneshot
    disabled

on property:sys.boot_completed=1
    start nvram_btwifi

on property:sys.nvram.btmac=*
    start vendor-btmac-sh
    restart vendor.bluetooth-1-0-qti

on property:sys.nvram.wifimac=*
    setprop ro.wifimac ${sys.nvram.wifimac}

service vendor-btmac-sh  /vendor/bin/init.btmac.sh
    class core
    user root
    oneshot
    disabled

service nqnfc_2_0_hal_service /vendor/bin/hw/vendor.nxp.hardware.nfc@2.0-service
    override
    class hal
    user nfc
    group nfc
    disabled

on boot && property:ro.boot.product.hardware.sku=NFC
    enable nqnfc_2_0_hal_service

    # Prevents permission denied error for telephony
    chmod 0644 /proc/cmdline
    chown root radio /proc/cmdline
