on init
    # Change permissions for /dev/diag
    chmod 0666 /dev/diag

on early-boot
     chown system system /dev/input/event3  # stk3xXx-light
     chown system system /dev/input/event4  # stk3xXx-proximity

on boot
    # Tap to wake node
    chown system system /proc/tpd_gesture
    chmod 0660 /proc/tpd_gesture

service vendor.nfc_hal_service /vendor/bin/hw/android.hardware.nfc@1.2-service
    override
    class hal
    user nfc
    group nfc
    disabled

on property:ro.hq.support.nfc=1
    enable vendor.nfc_hal_service

    # Prevents permission denied error for telephony
    chmod 0644 /proc/cmdline
    chown root radio /proc/cmdline
